.skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
    margin-top: -100px;
    margin-bottom: 100px;
}

.skills span {
    font-size: 40px;
    font-weight: 500;
}

.skills-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.skill-item {
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

.skill-item div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-item div img {
    width: 60%;
    height: 60%;
}

.skill-item div:hover {
    box-shadow: 0 0 25px var(--secondary-color);
}

.skill-item p {
    font-weight: 500;
    margin-top: 0.5rem;
}

.experience-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.experience-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
}

.experience-work {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1rem;
    cursor: pointer;
}

.experience-work h4 {
    font-weight: 500;
}

.experience-work p {
    font-weight: 400;
    color: var(--text2);
    margin-top: 5px;
}

.experience-year {
    margin-right: 5rem;
}

.experience-year p {
    font-weight: 800;
    color: var(--secondary-color);
}

.skills-tooltip {
    max-width: 300px !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
    padding: 1rem !important;
    color: var(--secondary-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
}

@media screen and (max-width: 450px) {
    .skill-item div {
        width: 70px;
        height: 70px;
    }
    .experience-year {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .skills-container {
        width: 100%;
        flex-direction: column;
    }
    .skills-list {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
    .experience-container {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1500px) {
    .skills-container:after {
        content: "";
        background-color: var(--secondary-color);

        width: 5px;
        height: 600px;
        top: 1450px;
        left: 50%;
        display: none;
    }
}

@media screen and (min-width: 2000px) {
    .skill-item div {
        width: 150px;
        height: 150px;
    }
    .skill-item {
        margin: 1rem 2rem;
    }
    .skill-item p {
        margin-top: 1rem;
    }
    .skills-tooltip {
        font-size: 1.75rem !important;
        max-width: 500px !important;
        line-height: 2 !important;
    }
}

.skill-bx {
    background: var(--secondary-color);
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.skill-bx h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill-bx p {
    color: var(--text2);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

.background-image-left {
    top: 49%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}
