.banner {
    margin-top: 0;
    padding: 200px 0;
    background-image: url("../../assets/images/banner-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(
        90deg,
        rgba(213, 178, 234, 1) 0%,
        rgba(204, 204, 250, 1) 35%
    );
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
.banner h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 40px;
    display: block;
}

.banner h1 span {
    background: linear-gradient(to right, #685d6f, #000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner p {
    color: var(--text);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin: 25px 0;
}
.banner button {
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.banner button:hover svg {
    margin-left: 25px;
}
.banner img {
    animation: updown 2s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
